/* Категории */
.categories-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.categories-header h1 {
    color: var(--red);
    font-size: var(--font-size-h1);
}

.categories-header p {
    color: var(--black);
    font-size: var(--font-size-p);
}